.movies_list {
  row-gap: 20px;
  column-gap: 20px;
}

.movie_card {
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  min-width: 200px;

  img {
  border-radius: 6px;
  }
  &:hover {
    transform: scale(1.02);

    .delete-btn {
      opacity: 1;
    }
  }
}

.delete-form {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 5;
}

.delete-btn {
  width: 25px;
  height: 30px;
  border: none;
  background: rgba(255, 255, 255, 0.52);
  opacity: 0;
  transition: 0.2s ease-in-out;
  padding: 2px;

  &:hover {
    background: rgba(255, 255, 255, 0.78);
  }

  img {
    width: 100%;
    height: auto;
  }
}
