<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hollylist</title>

    {% load bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'msapp/favicon.ico' %}">
    <link href="{% static 'msapp/css/home.css' %}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'msapp/js/search.js' %}"></script>
    <script src="{% static 'msapp/js/go_to.js' %}"></script>
    <script src="{% static 'msapp/js/genre_slider.js' %}"></script>

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
