<div class="m-0 filters_container">
    <div class="filter_genre">
        {% if genre_selected and genre_selected != 'All' %}
            <p id="toggle_genres">Genres ({{ genre_selected }})</p>
        {% else %}
            <p id="toggle_genres">Genres</p>
        {% endif %}

        <ul id="genres_list">
            {% for genre in genres %}
                <li><a href="/?ord={{ ordered_selected_value|default:"Date added" }}&gnr={{ genre }}">{{ genre }}</a></li>
            {%  endfor %}
        </ul>
    </div>

    <div class="ordered_by">

        {% if ordered_selected_value and ordered_selected_value != 'Date added' %}
            <p id="toggle_ordered">Ordered by ({{ ordered_selected_value }})</p>
        {% else %}
            <p id="toggle_ordered">Ordered by</p>
        {% endif %}

        <ul id="ordered_list">
            {% for order in orders %}
                <li><a href="/?ord={{ order }}&gnr={{ genre_selected|default:"All" }}">{{ order }}</a></li>
            {%  endfor %}
        </ul>
    </div>
</div>
