<a class="m-0 title"
   style="color: {{ text_color }}"
   href="/?ord={{ ordered_selected_value|default:"Date added" }}&gnr={{ genre_selected|default:"All" }}">
    Hollylist
</a>
<div class="d-flex">
    <button class="px-3" style="background: transparent" onclick="location.href='{% url 'watched_list' %}'">
        Watched list
    </button>
    <button id="mode-toggle" class="btn fs-1" style="color: {{ text_color }}">🌓</button>
    <form class="top-0 end-0 p-3 d-flex align-items-center" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="background: transparent">EXIT</button>
    </form>
</div>
