{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Coucou {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<header>
    {% include "header_template.html" %}
</header>
<main>
    {% include "search_template.html" %}
    {% include "movies_list_template.html" %}
</main>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
    
{% endif %}
{% endblock %}