
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Stock</title>
    {% load sass_tags %}
    {% load static %}
    <link href="{% sass_src 'msapp/scss/home.scss' %}" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'msapp/js/search.js' %}"></script>
    <script src="{% static 'msapp/js/go_to_movie_page.js' %}"></script>

</head>
<body>
    <header>
        {% include "header_template.html" %}
    </header>
    <main>
        {% include "search_template.html" %}
        {% include "movies_list_template.html" %}
    </main>
</body>
</html>