<a href="{% url 'movie_page' %}?query={{ movie.id }}&ord={{ ordered_selected_value|default:"Date added" }}&gnr={{ genre_selected|default:"All" }}"
   class="p-0 border-0 col-5 col-lg-1 movie_card d-flex justify-content-center position-relative"
>

    <form action="{% url 'delete_movie' %}" method="post" class="delete-form">
        {% csrf_token %}
        {% load static %}
        <button type="submit" name="id" value="{{ movie.id }}" class="delete-btn">
            <img src="{% static 'msapp/img/close.png' %}" alt="bin icon">
        </button>
    </form>

    <img class="img-fluid w-100"
         src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
         alt="{{ movie.title }} poster">
</a>
