
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Stock</title>
    {% load sass_tags %}
    {% load static %}
    <link href="{% sass_src 'msapp/scss/movie_page.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'msapp/scss/home.scss' %}" rel="stylesheet" type="text/css" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'msapp/js/go_to.js' %}"></script>

</head>
<body>
    <header>
        {% include "header_template.html" %}
    </header>
    <main>
        <div class="movie_page_container">
            <div class="head">
                <p class="title">{{ movie.title }} ({{ movie.release_date.year }})</p>
                <div class="btn_pass">
                    <button onclick="goToPreviousMoviePage({{ movies_list }}, {{ movie.id }})">
                        < Previous
                    </button>
                    <button onclick="goToNextMoviePage({{ movies_list }}, {{ movie.id }})">
                        Next >
                    </button>
                </div>
            </div>
            <div class="main_container">
                <div class="left">
                    <img id="poster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster"/>

                </div>

                <div class="right">
                    <div class="dates">
                        {% if movie.status != "Released" %}
                            <p style="color: red; font-weight: bold">{{ movie.status }}</p>
                        {% endif %}
                        {% if movie.status != "Released" %}
                            <p>Release date : <span style="font-weight: bold">{{ movie.release_date }}</span></p>
                        {% endif %}
                    </div>
                    <div class="genres">
                        {% for genre in movie.genre_ids %}
                            <p class="genre">{{ genre.name }}</p>
                        {% endfor %}
                    </div>
                    <p style="line-height: 1.5em"><span style="font-weight: bold; text-decoration: underline;">Synopsis</span> : {{ movie.overview }}</p>
                    {% if movie.budget %}
                        <p>Budget : {{ movie.budget }} $ </p>
                    {% endif %}

                    <div class="prods">
                        {% for prod in movie.production_companies %}
                            {% if prod.logo_path %}
                                <img class="prod" src="https://image.tmdb.org/t/p/w500{{ prod.logo_path }}" alt="{{ prod.name }} logo"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>