{% for movie in movies_list.movies.all %}
<div class="movie_card" onclick="goToMoviePage({{ movie.id }})">
    <div class="infos">
        <h3>{{ movie.title }}</h3>
        {% if movie.status != "Released" %}
            <p style="color: red">{{ movie.status }}</p>
        {% endif %}
        {% if movie.status != "Released" %}
            <p>{{ movie.release_date }}</p>
        {% else %}
            <p>{{ movie.release_date.year }}</p>
        {% endif %}
        <form action="{% url 'delete_movie' %}" method="post">
            <button type="submit" name='id' value={{movie.id}}>
                    {% load static %}
                <img id="bin" src="{% static 'msapp/icons/bin.png' %}" alt="bin icon">
            </button>
         </form>
    </div>
    <img id="poster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster"/>
</div>
{% endfor %}
