@font-face {
    font-family: 'hollywood';
    src: url('../fonts/HollywoodHills.ttf') format('truetype');
}

//$primary-color: #4c0303;
//$wall-color: #f3f3f3;
:root {
  --primary-color: #4c0303;
  --wall-color: #f3f3f3;
}