.filters_container {
  width: 100%;
  background: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 50px;

  .filter_genre, .ordered_by {
    margin-left: 10px;
    border-bottom: 1px solid $primary-color;
    width: 200px;
    z-index: 1000;

    #toggle_genres, #toggle_ordered {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      cursor: pointer;
      width: 200px;
      font-weight: bold;
    }

    #genres_list, #ordered_list {
      margin: 0;
      display: none;
      max-height: 295px;

      &.show_genres_list, &.show_ordered_list {
        display: block;
        overflow-y: auto;
        border-top: 2px solid $primary-color;

      }

      &.show_genres_list::-webkit-scrollbar, &.show_ordered_list::-webkit-scrollbar {
        display: none;
      }

      li {
        list-style-type: none;

        a {
          font-weight: bold;
          padding: 10px 20px;
          display: block;
          text-decoration: none;
          color: black;
          background: white;

          &:hover {
            background-color: $wall-color;
          }
        }
      }
    }
  }
}
