.filters_container {
  width: 100%;
  //background: rgba(83, 81, 81, 0.4);
  background: transparent;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;

  .filter_genre, .ordered_by {
    margin-left: 10px;
    border-bottom: 1px solid $primary-color;
    width: 200px;
    z-index: 1000;

    #toggle_genres, #toggle_ordered {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      cursor: pointer;
      width: 200px;
      font-weight: bold;
    }

    #genres_list, #ordered_list {
      margin: 0;
      display: none;
      max-height: 295px;

      &.show_genres_list, &.show_ordered_list {
        background: black;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        border-top: 2px solid $primary-color;

      }

      &.show_genres_list::-webkit-scrollbar, &.show_ordered_list::-webkit-scrollbar {
        display: none;
      }

      width: 100%;
      padding: 0;
      li {
        list-style-type: none;
        transition: 0.15s ease-in-out;

        &:hover {
          background: #300202;

          a {
            transition: 0.2s ease-in-out;

            color: #f86565;
          }
        }

        a {
          font-weight: bold;
          padding: 10px 20px;
          display: block;
          text-decoration: none;
          //background: white;
          color: $primary-color;

          &:hover {
            //background-color: $wall-color;
          }
        }
      }
    }
  }
}
