@import 'movies_list_style';
@import 'movie_card_style';
@import 'search_style';
@import 'colors';


body {
  background: $wall-color;
  color: $primary-color;
  font-family: "Segoe UI", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;

  main {
    width: 100%;
  }

  h1 {
    margin: 10px 0 0 0;
    font-size: 5em;
    cursor: pointer;
  }
  h1, h2 {
    display: flex;
    justify-content: center;
  }
  h1, button {
    font-family: 'hollywood', sans-serif;
  }
  h2 {
    margin-bottom: 50px;
  }

  button {
    color: $primary-color;
    font-size: 1.4em;
  }
}
