@import 'movie_card_style';
@import 'search_style';
@import 'colors';
@import 'filters';

button {
  cursor: pointer;
  font-family: 'hollywood';
  border: none;
}

h1 {
  font-family: 'hollywood';
  font-size: 120px;
}

body {
    &::-webkit-scrollbar, &::-webkit-scrollbar {
      display: none;
    }
  //background: $wall-color;
  color: $primary-color;
  font-family: "Segoe UI", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .signup_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .helptext {
          font-size: 0.8em;
        }
        input {
          outline: none;
          margin-top: 10px;
          margin-bottom: 20px;
          padding: 10px;
          border: none;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          li {
            text-align: center;
            list-style-type: none;
          }
        }
      }
      button {
        margin-top: 10px;
    }
  }

  .logout_container {
    position: absolute;
    top: 2px;
    right: 2px;
    button {
      background: none;
      border: none;
    }
  }

  .login_container {
    cursor: pointer;
    margin-top: 200px;
    background: $primary-color;
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    a,p {
      font-family: 'hollywood';
      //color: $wall-color;
      font-size: 3em;
    }
  }

  .login_form {
    margin-top: 50px;
    height: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input {
      //background: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 3px;
    }
    button {
      margin-top: 30px;
    }
  }

  main {
    width: 100%;
  }

  .title {
    font-family: 'hollywood';
    text-decoration: none;
    color: $primary-color;
    margin: 20px 0 0< 0;
    font-size: 5em;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }

    p {
      font-size: 1.3em;
    }
    a, h2 {
      display: flex;
      justify-content: center;
    }
    a, button {
      font-family: 'hollywood', sans-serif;
    }
  }


  h2 {
    margin-bottom: 50px;
  }

  button {
    color: $primary-color;
    font-size: 1.4em;
  }
}
