
.movie_page_container {
  box-shadow: rgba(177, 177, 177, 0.29) 0px 8px  24px;

  .head {
    .btn_pass {
      button {
        padding: 10px;
        background: none;
        margin-right: 10px;
        #bin {
          width: 20px;
        }
      }
    }

  }

  .main_container {
    .left {
       .prods {
        .prod {
          max-width: 200px;
          height: 100%;
        }
        }
    }
    .right {
      .right_container {
        .infos_container {
          margin-top: 10px;
          .dates {
            p{
              margin-right: 10px;
            }
          }

          .genres {
            display: flex;
            .genre {
              margin-right: 10px;
              font-weight: bold;
            }
          }

        }
        .links_container {
          display: flex;
          flex-direction: column;
          margin-top: 40px;
          align-items: center;
          a {
            padding: 3px 15px;
            border-radius: 50px;
            transition: 0.2s ease-in-out;
            display: flex;
            text-decoration: none;
            &:hover {
              transform: scale(1.03 );
            }
          }
        }
      }

    }
  }
}

.backdrops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}