
.movie_page_container {
  background: #e2e2e4;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 3em;
        font-weight: bold;
        margin: 0;
    }

    .btn_pass {
      display: flex;
      height: 30px;
      align-items: center;
      button {
        cursor: pointer;
        margin-right: 10px;
        #bin {
          width: 20px;
        }
      }
    }

  }


  .main_container {
    display: flex;
    margin-top: 25px;
    .left {
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 50px;

      .dates {
        display: flex;
        width: 400px;
        p{
          margin-right: 10px;
        }
      }

      .genres {
        display: flex;
        width: 100%;
        justify-content: start;

        .genre {
          margin-right: 10px;
          font-weight: bold;
        }
      }

      .prods {
        width: 100%;

        .prod {
          width: 100px;
          object-fit: contain;
          margin-right: 50px;
        }
      }
    }
  }
}