@import 'colors';

.search_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3000;

  #search_input {
    background: none;
    padding: 10px 20px;
    outline: none;
    font-size: 1em;
  }

  #movies_results {
    margin-top: 30px;
    //background: #292929;
    background: #6b7c8c;

    #res_container {
      cursor: pointer;
      color: #cacaca;

      &:hover {
        transition: 0.2s ease-in-out;
        font-weight: bold;
      }
    }
}

}
