@import 'colors';

.search_container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--wall-color);
  opacity: 1;

  @media (min-width: 480px) {
    #search_container {
      opacity: 0;
    }
  }

  #search_input {
    background: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 10px 20px;
    outline: none;
    font-size: 1em;
    opacity: 1;
  }

  @media (min-width: 480px) {
    #search_input {
      opacity: 0;
    }
  }

  #movies_results {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #res_container {
      width: 70%;
      display: flex;
      border-bottom: 1px solid lightgrey;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
    .res_title {
      margin-left: 10px;
    }
    .res_img {
      width: 100px;
  }
}

}
