{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid p-0 page-wrapper">

            <header class="container-fluid d-flex justify-content-between">
                {% include "header_template.html" %}
            </header>

            <main class="container-fluid">
                {% include "search_template.html" %}
                {% include "movies_list_template.html" %}
            </main>
        </div>
        <script src="{% static 'msapp/js/light_dark_mode.js' %}"></script>

    {% else %}

        <a href="{% url 'login' %}" class="login_container">
            <p>Enter to hollylist</p>
        </a>

    {% endif %}
{% endblock %}