<div class="container-fluid">
    {% include "filters_template.html" %}

    {% for genre, movies in movies_by_genre.items %}
        <div class="genre-container my-5 position-relative">
            {% if genre == "Latest" %}
                <p class="genre-title genre_title d-none d-lg-flex">Derniers ajouts</p>
            {% else %}
                <p class="genre-title genre_title d-none d-lg-flex">{{ genre }}</p>
            {% endif %}
            {% if genre == "Latest" %}
                <p class="genre-title genre_title_mobile d-flex d-lg-none">Derniers ajouts</p>
            {% else %}
                <p class="genre-title genre_title_mobile d-flex d-lg-none">{{ genre }}</p>
            {% endif %}
            <div class="slider-wrapper position-relative">
                <div class="genre-slider d-flex" style="overflow-x:auto; scroll-behavior:smooth; gap:15px;">
                    {% for movie in movies %}
                        {% include "movie_card_template.html" %}
                    {% endfor %}
                </div>
                <button class="slider-btn prev">&lt;</button>
                <button class="slider-btn next">&gt;</button>
            </div>
        </div>
    {% endfor %}
</div>
